<head>
<style type="text/css">
body{
line-height:1.6;
font-size:18px;
color:#444;
padding:0
10px}
h1,h2,h3{
line-height:1.2
}
</style>
	<title>Half-World</title>
	<meta name="description" content="The Universal racing game protocol">
</head>
<body>
	<h1>Half-World</h1>
	<h2>the Universal racing game protocol</h2>
	<p>Half-World is a dead-simple specification that is easily expandable. It allows racing games of many different types, and even of non-racing paradigms, to communicate with each other.</p>
	<p>It has no implementation requirements</p>
	<br />
	<p><a href="HWDOC_SPEC.html">Half-World Document Format</a> (<a href="HWDOC_SPEC.md">Plain text/Markdown version</a>)</p>
	<br />
	<p><a href="HWNET_SPEC.html">Half-World Network Specification</a> (<a href="HWNET_SPEC.md">Plain text/Markdown version</a>)</p>
	<p><a href="HWT_SPEC.html">Half-World Track Specification</a> (<a href="HWT_SPEC.md">Plain text/Markdown version</a>)</p>
	<p><a href="HWVM_SPEC.html">Half-World Virtual Machine Specification</a> (<a href="HWVM_SPEC.md">Plain text/Markdown version</a>)</p>
	<br />
	<p><a href="https://gitea.com/Nomagno/Half-World.git">Check out the Git repository for more information!</a> (<a href="https://gitea.com/Nomagno/Half-World/archive/master.tar.gz">Tarball here</a>)</p>
	<br />
	<br />
<p>Copyright Nomagno 2021</p>
<p>SPDX identifier: COIL-1.0</p>
</body>
